In [1]:
import pandas as pd

In [2]:
df_cin = pd.read_csv("data/countyinflow1920.csv")
df_cin

,y2_statefips,y2_countyfips,y1_statefips,y1_countyfips,y1_state,y1_countyname,n1,n2,agi
0,1,1,96,0,AL,Autauga County Total Migration-US and Foreign,2169,4909,120570
1,1,1,97,0,AL,Autauga County Total Migration-US,2131,4793,117820
2,1,1,97,1,AL,Autauga County Total Migration-Same State,1432,3022,70573
3,1,1,97,3,AL,Autauga County Total Migration-Different State,699,1771,47247
4,1,1,98,0,AL,Autauga County Total Migration-Foreign,38,116,2751
...,...,...,...,...,...,...,...,...,...
87547,56,45,59,0,DS,Other flows - Different State,112,199,7778
87548,56,45,59,1,DS,Other flows - Northeast,-1,-1,-1
87549,56,45,59,3,DS,Other flows - Midwest,70,132,4131
87550,56,45,59,5,DS,Other flows - South,-1,-1,-1
87551,56,45,59,7,DS,Other flows - West,42,67,3648

In [4]:
df_cout = pd.read_csv("data/countyoutflow1920.csv")
df_cout

,y1_statefips,y1_countyfips,y2_statefips,y2_countyfips,y2_state,y2_countyname,n1,n2,agi
0,1,1,96,0,AL,Autauga County Total Migration-US and Foreign,1914,4336,111235
1,1,1,97,0,AL,Autauga County Total Migration-US,1887,4265,109063
2,1,1,97,1,AL,Autauga County Total Migration-Same State,1209,2540,60756
3,1,1,97,3,AL,Autauga County Total Migration-Different State,678,1725,48307
4,1,1,98,0,AL,Autauga County Total Migration-Foreign,27,71,2172
...,...,...,...,...,...,...,...,...,...
87320,56,45,59,0,DS,Other flows - Different State,118,225,6256
87321,56,45,59,1,DS,Other flows - Northeast,-1,-1,-1
87322,56,45,59,3,DS,Other flows - Midwest,68,135,3437
87323,56,45,59,5,DS,Other flows - South,-1,-1,-1
87324,56,45,59,7,DS,Other flows - West,50,90,2819

In [6]:
df_sin = pd.read_csv("data/stateinflow1920.csv")
df_sin

,y2_statefips,y1_statefips,y1_state,y1_state_name,n1,n2,AGI
0,1,96,AL,AL Total Migration-US and Foreign,52265,107231,3341679
1,1,97,AL,AL Total Migration-US,51586,105521,3297568
2,1,98,AL,AL Total Migration-Foreign,679,1710,44112
3,1,97,AL,AL Total Migration-Same State,63266,129762,3419262
4,1,1,AL,AL Non-migrants,1590633,3498183,111701780
...,...,...,...,...,...,...,...
2850,56,50,VT,Vermont,30,42,2049
2851,56,33,NH,New Hampshire,24,36,1432
2852,56,10,DE,Delaware,18,32,859
2853,56,11,DC,District Of Columbia,17,31,4000
2854,56,44,RI,Rhode Island,12,17,866

In [7]:
df_sout = pd.read_csv("data/stateoutflow1920.csv")
df_sout

,y1_statefips,y2_statefips,y2_state,y2_state_name,n1,n2,AGI
0,1,96,AL,AL Total Migration-US and Foreign,45058,89699,2821594
1,1,97,AL,AL Total Migration-US,44502,88386,2786158
2,1,98,AL,AL Total Migration-Foreign,556,1313,35436
3,1,97,AL,AL Total Migration-Same State,63266,129762,3419262
4,1,1,AL,AL Non-migrants,1590633,3498183,111701780
...,...,...,...,...,...,...,...
2850,56,9,CT,Connecticut,31,54,5214
2851,56,50,VT,Vermont,16,31,937
2852,56,10,DE,Delaware,15,32,4577
2853,56,44,RI,Rhode Island,-1,-1,-1
2854,56,11,DC,District Of Columbia,-1,-1,-1